# Docker
dev.Dockerfile
Dockerfile*
docker-compose*
.dockerignore

# Git files
.git
.gitignore
.gitattributes

# macOS specific files
.DS_Store

# IDE / Editor directories
.editorconfig
.idea
.vscode

# Nest dev/build outputs
build/
/var/

# Tests
coverage*

# Node dependencies
node_modules

# Others
.env
README.md
LICENSE
Makefile
helm-charts
