# Docker
dev.Dockerfile
Dockerfile*
docker-compose*
.dockerignore

# Git files
.git
.gitignore

# macOS specific files
.DS_Store

# IDE / Editor directories
.editorconfig
.idea

# Nest dev/build outputs
build/
/var/

# Tests
coverage*

# Node dependencies
node_modules

# Others
.env
*.md
helm-charts
