always-auth=true
@vasilistotskas:registry=https://npm.pkg.github.com/
registry=https://npm.pkg.github.com/@vasilistotskas
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
registry=https://registry.npmjs.org/
auto-install-peers=true
strict-peer-dependencie=false