{
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "endOfLine": "crlf",
  "useTabs": true,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "strict",
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": false,
  "requirePragma": false
}
